<!DOCTYPE >
<HTML>
<HEAD>
    <TITLE> Deal管理 </TITLE>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/getRequestParameters.js"></script>
</HEAD>
<BODY>

<script>
    function sendEmailToUser() {
        $("#dataTable").ajaxSubmit(function (data) {
            console.log(data);
            alert(data.data.message);
            if(data.data.state === "000000"){
                window.open("/view/EbizPackage/list.html" ,"_self");
            }
        });
        return false;
    }
</script>

<div class="container" >
    <div id="wrapper">
        <div id="wrapperContent">
            <div align="center" style="padding-bottom: 1px; padding-top: 10px;">
                <h3>发送邮件</h3>
            </div>

            <div align=center>
                <div align=left
                     style="width: 99%; float: left; border: 0px solid #d7d7d7; min-height: 400px; font-size: 14px">
                    <form name="dataTable" id="dataTable"  action="/package/sendEmailToUser" onsubmit="return sendEmailToUser();" method="post" enctype="multipart/form-data">
                        <br>
                        User Name: <input style="width: 80px; height: 25px" type="text"
                                          id="userName" name="userName"
                                          readonly="readonly" />&emsp;

                        Product UID: <input style="width: 60px; height: 25px" type="text"
                                            id="id" name="productID"
                                            readonly="readonly" />&emsp;
                        Model:&nbsp;<input style="width: 100px; height: 25px" type="text"
                                           id="modelNumber" name="model" placeholder="required" readonly="readonly" />&emsp;
                        Status:&nbsp;
                        <select id="status" name="status"
                                style="height: 35px; width: 150px;">
                            <option selected="selected" value="0">Please Chose</option>
                            <option>Number UnMatch</option>
                            <option>UPC UnMatch</option>
                            <option>UPC and Num UnMatch</option>
                            <option>Deleted</option>
                            <option>UnConfirmed InStock</option>
                            <option>UnConfirmed UnReceived</option>
                            <option>UnConfirmed UnPlaced</option>
                            <option>InStock</option>
                            <option>UnReceived</option>
                            <option>Packed</option>
                            <option>Delivered</option>
                            <option>EmailedLabel</option>
                            <option>Shipped</option>
                            <option>Complete</option>

                        </select> Brand:&nbsp;<input style="width: 120px; height: 25px"
                                                     type="text" id="brand" name="brand"
                                                     placeholder="required" />
                        <br> Product Name:
                        <textarea id="productName" name="productName"
                                  style="background-color: transparent; resize: none;" rows="2"
                                  cols="58" placeholder="required" ></textarea>
                        <br> <br>

                        <div class="clear"></div>
                        EmailAddress: <input style="width: 20%; height: 25px"
                                             type="text" id="email" name="email"
                                              placeholder="Emial Address" />&emsp;
                        EmailTitle: <input style="width: 50%; height: 25px"
                                           type="text" id="emailTitle" name="emailTitle"
                                           value="发送包裹信息" placeholder="Emial Title" /><br> <br>
                        EmailContent(添加邮件内容) 可以在这里写一些注意事项:<br>
                        <textarea id="emailContent" name="emailContent"
                                  style="background-color: transparent; resize: none;" rows="10"
                                  cols="58" placeholder="Emial Content"></textarea>
                        <br><br>

                        AttachedFile:<br>

                        <input type="file" id="files" name="files[]" multiple />
                        <output id="list"></output>

                        <textarea id="fileNames" name="fileNames"
                                  style="background-color: transparent; resize: none;" rows="5"
                                  cols="58" placeholder="File Names"></textarea>
                        <div align=center>
                            <input type="submit" name="submit" value="Send Email"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</BODY>
<script type="text/javascript">
    var params ;
    $(document).ready(function () {
        params = getParameters();
        //初始化页面数据
        initPage();
    });

    function initPage() {
        //后台获取数据
        var layerIndex = layer.load(1);
        $.ajax({
            type: 'GET',
            url: "/package/findPackageById",
            data: params,
            async: true,
            success: function (res) {
                console.log(res)
                layer.close(layerIndex);
                if (res.data.state === "000000") {
                    //console.log(res.data);
                    //解析数据
                    pushData(res);
                } else {
                    //业务错误提示
                    // TODO  根据不同错误不同处理
                    swalError(res.message);
                }
            }, error: function (res) {
                layer.close(layerIndex);
                swalSysError(res);
            }
        });

    }

    function pushData(res) {
        //清空表格
        $("#dataTable tr:not(:first)").empty();
        var data = res.data;
        data = data.data;
        console.log(data);
        $("#id").val(data.id);
        $("#modelNumber").val(data.modelNumber);
        $("#productName").val(data.productName);
        $("#brand").val(data.brand);
        $("#userName").val(data.userName);
        $("#status").val(data.status);
        $("#email").val(data.email);
        $("#emailTitle").val('UID '+data.id);
    }

    //避免页面上出现 null
    function emptyFormatter(data) {
        if (!data) {
            return ""
        }
        return data;
    }

    //优化页面显示
    function statusFormatter(data) {
        if (!data) {
            return '';
        }
        if (data === 'Complete')
            return '<span class="badge badge-pill badge-success">' + data + '</span>';
        else if (data === 'Deleted')
            return '<span class="badge badge-pill  badge-danger">' + data + '</span>';
        else return '<span class="badge badge-pill  badge-default">' + data + '</span>';
    }

    //优化页面显示
    function moneyFormatter(data) {
        if (!data) {
            return '';
        }
        return data + " $";
    }


</script>
</HTML>