<!DOCTYPE>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>

<div class="container">
    <div align="center">

        <br>
        <br>
        <br>
        <h2>Privacy Policy</h2>

        <br><br>
        <div align="left" style="width:50%; ">


            <p>
                Privacy Policy
            </p><p>
            eastebiz.com Privacy Policy
        </p><p>

            The following policy dictates the manner in which eastebiz.com collects and uses information gathered from users of this web site.
        </p><p>

            Privacy
        </p><p>

            Users' privacy is extremely important to us and we are committed to safeguarding the information you entrust to us. eastebiz.com will not disclose information about customers or users without express permission unless the release of said information is required by law.

        </p><p>
            Information Collection Practices

        </p><p>
            eastebiz.com may collect personally identifiable information from users in a variety of ways, including through online forms and other instances where users are invited to volunteer such information. We may also collect information about how users interact with our website. This information is obtained through analysis of server logs and through the use of "cookies" placed on user machines. A cookie is a token of data that a web server can store on a PC to identify the user should they visit the website again. While not all of the information that we collect from users is personally identifiable, it may be associated with personally identifiable information that users provide us through our website.

        </p><p>
            Information Usage

        </p><p>
            eastebiz.com may use personally identifiable information collected through our website to contact users regarding products and services offered by eastebiz.com and its trusted affiliates. We may also use information collected through our website for research regarding the effectiveness of the website and the marketing, advertising and sales efforts of eastebiz.com, and its trusted affiliates.
        </p><p>

            Information Disclosure

        </p><p>
            eastebiz.com will not disclose information about customers or users without express permission unless the release of said information is required by a trusted affiliate to facilitate action requested by the client, or is required by law. However, we may transfer information collected from users in connection with a sale of our business.

        </p><p>
            Questions

        </p><p>
            Please contact us with any questions regarding our privacy policy through our Contact page.
        </p>
            <p>
        </div>
    </div>
</div>
</body>
</html>