<!DOCTYPE>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>

<div class="container">
    <div align="center">

        <br>
        <br>
        <br>
        <h2>账号说明</h2>

        <br><br>
        <div align="left" style="width:50%; ">

            <h3>三种账号说明：</h3>
            <p>
                第一种账号：主账号，可以进行子账号管理，库存管理。 具备发shipping label，发deal，支付，deal 等管理功能。需要填写公司英文名称来作为公司的唯一标志代码。
            </p>
            <p>
                第二种账号：子账号，子账号必须绑定一个主账号，具有报货，求款，求出货等功能。 需要填写主账号公司名称来进行绑定，也可又主账号升级后，具备管理账号功能，比如发label，对支付进行记录等。
            </p>
            <p>
                第三种账号：独立账号，具备仓库管理，报货等功能，不能管理子账号，可升级为主账号。
            </p>
            <!--<p>-->
            <!--//第四种账号：仓库账号，主要为仓库放入库，出库，对单等开放。-->
            <!--<p>-->
        </div>
    </div>
</div>
</body>
</html>