<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支付用户管理</title>

    <!-- 引入bootstrap-table样式 -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">

    <!-- bootstrap-table.min.js -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>

<script type="text/javascript">
    function customSearch (){
        $("form").submit();
    }

    $(function(){
        $(".pagination li").click(function(){
            var value = $(this).val();
            $("#formCondition input[name=currentPage]").val(value);
            $("#formCondition").submit();
        })
    })



</script>

<style>
    .form-group{
        display: inline;
        float: left;
        margin-left:15px;
    }
    .form-group label{
        display: inline;
    }

    .form-group input{
        width: 200px;
    }
    table tr , table th{
        align:center;
        verticle-align: center;
    }

    .pagination li{
        width:40px;
        color: #2b669a;
        background-color: white;
        cursor: pointer;
        border:1px solid #2b669a;
        text-align: center;
        vertical-align: center;
        border-radius: 3px;
        margin-right:10px;
        font-size: 14px;
        padding:5px;
    }
</style>

<body>


<div class="container">

    <div align="center" style="padding-bottom: 1px; padding-top: 10px;">
        <h3 style="margin-top: 5px;">所有领取的支付任务(All Taken Paying Tasks)</h3>
    </div>

    <form action="/companyManager/readAllNeedCheckPackagesForCompanyByCondition" th:object="${vo}" id="formCondition">
        <div class="form-group">
            <label for="id">UID</label>

            <input th:if="${vo.id} eq null" type="text" class="form-control" id="id" name="id" placeholder="UID"/>
            <input th:if="${vo.id} ne null" type="text" class="form-control" id="id" name="id" th:field="*{id}"/>

        </div>
        <div class="form-group">
            <label for="userName">用户名</label>
            <input th:if="${vo.userName} eq null" type="text" class="form-control" id="userName" name="userName" placeholder="用户名称"/>
            <input th:if="${vo.userName} ne null" type="text" class="form-control" id="userName" name="userName" th:field="*{userName}"/>
        </div>

        <div class="form-group">
            <label for="price">价格查找</label>
            <select class="form-control" id="price" name="price">
                <option value="all-">全部</option>
                <option value="0-200">200以下</option>
                <option value="200-500">200-500</option>
                <option value="500-800">500-800</option>
                <option value="800-1000">800-1000</option>
                <option value="1000-">1000以上</option>
            </select>
        </div>

        <div class="form-group">
            <label for="brand">BRAND</label>
            <input type="text" class="form-control" id="brand" name="brand"/>
        </div>

        <div class="form-group">
            <label for="upc">UPC</label>
            <input type="text" class="form-control" id="upc" name="upc" />
        </div>

        <div class="form-group">
            <label for="status">邮寄状态</label>
            <select class="form-control" id="status" name="status">
                <option value="0">全部</option>
                <option value="1">完成</option>
                <option value="2">未完成</option>
            </select>
        </div>

        <div class="form-group">
            <label for="shippingAddress">公司地址</label>
            <select class="form-control" id="shippingAddress" name="shippingAddress" >
                <option value="all">全部</option>
                <option th:each="row : ${EbizCompanyAddressEnums}" th:value="${row.getName()}" th:text="${row.getName()}"></option>
            </select>
        </div>


        <div class="form-group" >
            <input type="hidden" th:if="*{currentPage} eq null " class="form-control" id="currentPage" name="currentPage" value="1"/>
            <input type="hidden"  th:if="*{currentPage} ne null " class="form-control" id="currentPage" name="currentPage" th:field="*{currentPage}"/>
        </div>



        <div class="btn-group" style="float: right;margin-top:15px;margin-right:100px;">
            <button id="btn_search" onclick="customSearch()" type="button" class="btn btn-primary btn-space">
                查询
            </button>
            <button id="btn_reset" type="reset" class="btn btn-default btn-space">
                重置
            </button>
        </div>
        <br/>
        <div class="form-group" style="width:98%">
            <ul class="pagination">
                <li th:value="1">首页</li>
                <li th:if="${vo.currentPage} ge 2" th:value="${vo.currentPage-1}">&laquo;</li>
                <li th:if="${vo.currentPage} lt 2" th:value="1">&laquo;</li>

                <li th:if="${vo.currentPage} ge 3" th:value="${vo.currentPage-2}" th:text="${vo.currentPage-2}"></li>
                <li th:if="${vo.currentPage} ge 2" th:value="${vo.currentPage-1}" th:text="${vo.currentPage-1}"></li>
                <li th:value="${vo.currentPage}" th:text="${vo.currentPage}" style="background-color: #2aabd2;"></li>
                <li th:if="${vo.currentPage < vo.totalPage - 1}" th:value="${vo.currentPage+1}" th:text="${vo.currentPage+1}"></li>
                <li th:if="${vo.currentPage < vo.totalPage - 2}" th:value="${vo.currentPage+2}" th:text="${vo.currentPage+2}"></li>
                <li th:if="${vo.currentPage < vo.totalPage - 1}" th:value="${vo.currentPage+1}">&raquo;</li>
                <li th:if="${vo.currentPage >= vo.totalPage}" th:value="${vo.totalPage}">&raquo;</li>
                <li th:value="${vo.totalPage}">尾页</li>
            </ul>
        </div>
    </form>
</div>


<div class="container" >
    <div id="toolbar" class="btn-group" style="width:98%">
             <button  type="button" class="btn btn-default" onclick="Batch_Cancel_Paying_task();" style="height: 40px;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>批量取消任务
             </button> 
        <form id="btn_send" action="/companyManager/sendLabelToUser" style="height: 40px;">
            <input type="hidden" name="sendPackagesUID"/>
            <button  type="button" class="btn btn-default" onclick="Batch_Pay_Paying_task();">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>批量支付
            </button>    
        </form>

        <button  type="button" class="btn btn-primary" style="height: 40px;width:180px;margin-left:200px;padding-left:-20px;"  onclick="Select_UnPay_task();">
                    未领取的任务
        </button>

        <button  type="button" style="height: 40px;width:180px;margin-left:200px;" class="btn btn-default" onclick="Select_Payed_task();">
                    已完成的任务
        </button>   
    </div>

    <table id="table" class="table">
        <tr>
            <th><input type="button" id="ok" style="width:45px;font-size: 12px;" class="btn btn-primary" onclick="ck(true)" value="全选"><input type="button" id="off" class="btn btn-default" onclick="ck(false)" style="width:70px;font-size: 12px;display: none;" value="取消全选">UID</th>
            <th>用户名</th>
            <th>型号<br/>产品名</th>
            <th>Brand:UPC:<br/>SKU:ASIN</th>
            <th>数量<br/>价格</th>
            <th>报告时间<br/>更新时间</th>
            <th>地址<br/>邮寄状态</th>
            <th>包裹单号<br/>Ship Id</th>
            <th>操作</th>
        </tr>
        <tr  th:each="row : ${listmap}">
            <td><input type="checkbox" name="ids" class="id" th:value="${row.id}" th:text="${row.id}"/></td>
            <td  th:text="${row.userName}"></td>
            <td><span th:text="${row.modelNumber}"></span><br><span th:text="${row.productName}"></span></td>
            <td><span th:text="${row.brand}"></span><br><span th:text="${row.SKU}"></span></td>
            <td><span th:text="${row.quantity}"></span><br><span th:text="${row.price}"></span></td>
            <td><span th:text="${row.createdTime}"></span><br><span th:text="${row.updateTime}"></span></td>
            <td th:if="${row.status} eq 'Complete'" style="background-color:#a1ff64"> <span th:text="${row.shippingAddress}"></span><br>
                <span th:text="${row.status}" ></span>
            </td>
            <td th:if="${row.status} ne 'Complete'" > <span th:text="${row.shippingAddress}"></span><br>
                <span th:text="${row.status}" ></span>
            </td>

            <td  th:text="${row.trackingNumber}"></td>

            <td >
                <button onclick="payOneTask(this);" th:value="${row.id}" class="btn btn-default">支付包裹</button>
                <button onclick="cancelOneTask(this);" th:value="${row.id}" class="btn btn-default">取消</button>
    </td>
    </tr>
    </table>

</div>
</body>
</html>



<script type="text/javascript">

    //点击未领取的任务的函数
    function Select_UnPay_task(){
        window.open("/companyManager/readAllNeedPayListPackagesForCompany?currentPage=1&pageSize=10" , "_self");
    }

    //点击已完成的任务的函数
    function Select_Payed_task(){
        window.open("/companyManager/readPayedTasksForUser?currentPage=1&pageSize=10" ,"_self");
    }


    function ck(b)
    {
        
        var input = $("input[name=ids]");
        for (var i=0;i<input.length ;i++ )
        {
            if(input[i].type=="checkbox")
                input[i].checked = b;
        }
        if(b == true){
            $("#off").css("display" , "block") ;
            $("#ok").css("display" , "none") ;
        }else{
            $("#off").css("display" , "none") ;
            $("#ok").css("display" , "block") ;
        }
    }

    //批量取消
    function Batch_Cancel_Paying_task(){
        var idsstr = "";
        var zhi = "";

        $("input[name='ids']").each(function () {
            idsstr += $(this).val() + ";"; //获取所有checkbox的值
            if($(this).is(":checked")) //如果被选中
                zhi += $(this).val() + ";"; //获取被选中的值
                //alert(zhi);
        })
        if(zhi == ""){
            alert("您还未选择任何数据，请选择");
        }else{
            //提交表单
            $.ajax({
                url: '/companyManager/cancelLabelTasks',
                method: 'post',
                data :{'packagesUID':zhi} ,
                success : function (message) {
                    alert(message);
                    location.reload();
                },
                error : function () {
                    alert("failure");
                }
            });
        }
    }
    //单个取消
    function cancelOneTask(obj){
        //alert(obj)
        console.log(obj)
        var zhi = obj.value;
        //注销任务的任务操作Ajax
        $.ajax({
            url: '/companyManager/cancelLabelTasks',
            method: 'post',
            data :{'packagesUID':zhi} ,
            success : function (message) {
                alert(message);
                location.reload();
            },
            error : function () {
                alert("failure");
            }
        });
    }
    //单个支付
    function payOneTask(obj){
        var zhi = obj.value;
        alert(zhi);
        //提交表单
        $("#btn_send input[name=sendPackagesUID]").val(zhi);
        alert($("#btn_send input[name=sendPackagesUID]").val());
        $("#btn_send").submit();
    }
    
    //批量支付
    function Batch_Pay_Paying_task() {
        var idsstr = "";
        var zhi = "";

        $("input[name='ids']").each(function () {
            idsstr += $(this).val() + ";"; //获取所有checkbox的值
            if($(this).is(":checked")) //如果被选中
                zhi += $(this).val() + ";"; //获取被选中的值
        })
        if(zhi == ""){
            alert("您还未选择任何数据，请选择");
        }else{
            //提交表单
            $("#btn_send input[name=sendPackagesUID]").val(zhi);
            alert($("#btn_send input[name=sendPackagesUID]").val());
            $("#btn_send").submit();
        }
    }





</script>
