<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付包裹</title>
</head>
<body>
<div id="wrapper">
    <div id="wrapperContent">
        <div align="center" style="padding-bottom: 1px; padding-top: 10px;">
            <h3>支付包裹</h3>

        </div>
        <h4 style="padding-bottom: 0px">
            Package UID:&nbsp;
            <%=uidNewString%>&emsp;&emsp;UserName:&nbsp;<%=userName%>&emsp;&emsp;Email:&nbsp;<%=email%></h4>

        <form name="edit" id="edit" action="sendMoneytoOneRecipientServlet" method="post" enctype="multipart/form-data">
            <br>
            <table class="tablewithoutline">
                <tr>
                    <td class="alignRight" style="width: 80px">账户余额：</td>
                    <td style="font-size: 16px"><input type="text"
                                                       id="balance" name="balance" readonly
                                                       value="<%=balance%>"
                                                       style="width: 120px" required />&emsp;商品价值:<input
                            type="text" id="productValue" name="productValue" readonly
                            value="<%=value%>"
                            style="width: 100px" required />
                        &emsp;应该支付:<input
                                type="text" id="shouldPay" name="shouldPay" readonly
                                value="<%=shouldpay%>"
                                style="width: 100px" required />
                        &emsp;实际支付:<input
                                type="number" id="nowPay" name="nowPay"
                                value="<%=shouldpay%>"
                                style="width: 100px" required /></td>

                </tr>
                <tr>
                    <td class="alignRight" style="width: 80px">信用卡信息：</td>
                    <td style="font-size: 14px"><textarea id="creditInfor"
                                                          name="creditInfor" style="resize: none; font-size: 13px"
                                                          rows="8" cols="150"
                                                          placeholder="Credit Card Information"><%=creditString%></textarea></td>
                </tr>
                <tr>
                    <td class="alignRight" style="width: 80px">包裹信息：</td>
                    <td style="font-size: 14px"><textarea id="packagesInfor"
                                                          name="packagesInfor" style="resize: none; font-size: 13px"
                                                          rows="6" cols="150"
                                                          placeholder="Packages Information"><%=packageListInfor%></textarea></td>
                </tr>
                <tr>
                    <td class="alignRight" style="width: 80px">邮件内容：</td>
                    <td style="font-size: 14px"><textarea id="emailContent"
                                                          name="emailContent" style="resize: none; font-size: 13px"
                                                          rows="3" cols="150"
                                                          placeholder="email Content"></textarea></td>
                </tr>
                <tr>
                    <td class="alignRight" style="width: 80px">确认码：</td>
                    <td style="font-size: 14px"><input
                            type="text" id="confirmCode" name="confirmCode"
                            style="width: 300px" required /></td>
                </tr>
                <tr>
                    <td class="alignRight" style="width: 80px">附件：</td>
                    <td style="font-size: 14px"><input type="file" id="files" name="files[]" multiple />
                        <output id="list"></output>

                        <textarea id="fileNames" name="fileNames"
                                  style="background-color: transparent; resize: none; font-size: 13px;" rows="5"
                                  cols="58" placeholder="File Names"></textarea></td>
                </tr>
            </table>

            <div align=center>
                <input type="button" name="submit" value="Submit"
                       onClick="sendEmail()" />
            </div>

            <input style="width: 200px" type="hidden" id="packageId"
                   name="packageId" value="<%=packageIDStrings%>"
                   readonly="readonly" />
        </form>

    </div>
</div>
</body>
</html>