<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 引入bootstrap-table样式 -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">

    <!-- bootstrap-table.min.js -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <title>打包包裹</title>
</head>
<body>
    <div class="container">
        <div id="wrapper">
            <div
                    id="wrapperContent">
                <div align="center" style="padding-bottom: 1px; padding-top: 10px;">
                    <h3>需打包的包裹(EmailedLabel)</h3>
                </div>
                <div style="width: 100%; overflow: auto;">


                    <table>
                        <col width=5%>
                        <col width=40%>
                        <col width=1%>
                        <col width=13%>
                        <col width=13%>
                        <col width=16%>
                        <col width=6%>
                        <tr>
                            <th>UID</th>
                            <th>Model<br>ProductName
                            </th>
                            <th>Quantity<br>Price
                            </th>

                            <th>Address
                            </th>
                            <th>Report Time<br>Update Time
                            </th>
                            <th>CreditCard<br>Pay Infor
                            </th>
                            <th>Status</th>


                        </tr>

                        <tr th:each="row : ${listmap}">
                            <td ><span th:value="${row.id}"></span></td>
                            <td><span th:value="${row.modelNumber}"></span><br><span th:value="${row.productName}"></span></td>
                            <td><span th:value="${row.quantity}"></span><br><span th:value="${row.price}"></span></td>

                            <td><span th:value="${row.shippingAddress}"></span></td>

                            <td style='font-size: 10px'><span th:value="${row.createdTime}"></span><br><span th:value="${row.updateTime}"></span></td>
                            <td><span th:value="${row.creditCardNumber}"></span></td>
                            <td style='font-size: 10px'><span th:value="${row.getStatus()}"></span></td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>