<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    !-- 引入bootstrap-table样式 -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">

    <!-- bootstrap-table.min.js -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script>

    <title>更新信用卡信息</title>
</head>



<script type="text/javascript">
    function editManyCreditCard(){
        $("#edit").ajaxSubmit(function(msg){
            alert(msg);
            $("#edit input[type=reset]").trigger("click");
            //self.location.reload();
        });
        return false;
    }

</script>


<body>
<div class="container">
    <div id="wrapper">
        <div
                id="wrapperContent">
            <div align="center" style="padding-bottom: 1px; padding-top: 10px;">
                <h3>更新信用卡信息</h3>
            </div>
            <div align=center>
                <div align=left style="width: 50%; float: center; border: 0px solid #d7d7d7; min-height: 400px;">
                    <form name="edit" id="edit" onsubmit="return editManyCreditCard();" action="/taskManager/updateCreditCardForPackages" method="post">
                        <br>
                        <h4 style="padding-bottom: 0px">
                            Package UID:</h4>
                        <br>
                        <input
                                style="width: 420px; border: none; background-color: transparent;font-size:15px"
                                type="text" id="unPaidPackagesUid" name="unPaidPackagesUid"
                                th:value="${newUidStrings}" readonly="readonly" /> <br>
                        <br>
                        <h4 style="padding-bottom: 0px">Total Value is:</h4>
                        <input
                                style="width: 420px; border: none; background-color: transparent;"
                                type="text" id="totalvalue" name="totalvalue"
                                th:value="${totalValue}" readonly="readonly" /> <br>
                        <br>
                        <h4 style="padding-bottom: 0px">Please Write CreditCard Information:</h4>
                        <br>
                        提交后写在这里的内容将会替换掉所有选中包裹的信用卡信息：
                        <br>
                        第一次使用的信用卡请在信用卡号后面填写开卡银行和银行payment 地址信息：
                        <br>
                        多张卡的话请在这里计算分配好金额后再提交：
                        <br><br>
                        <textarea id="creditcard" name="creditcard" style="resize: none;"
                                  rows="12" cols="58"></textarea><br><br>
                        <br>
                        <br><div align=center> <input type="submit" name="submit" value="submit" /></div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>