<!DOCTYPE >
<HTML>
<HEAD>
    <TITLE> 产品管理 </TITLE>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/getRequestParameters.js"></script>
</HEAD>
<BODY>

<script>
    function editProduct() {
        $("#dataTable").ajaxSubmit(function (data) {
            console.log(data);
            alert(data.data.message);
            if(data.data.state === "000000"){
                window.open("/view/EbizProduct/ProductManager.html" ,"_self");
            }
        });
        return false;
    }
</script>

<div class="container" >
    <div id="wrapper">
        <div id="wrapperContent">
            <div align="center" style="padding-bottom: 1px; padding-top: 10px;">
                <h3>修改产品</h3>
            </div>
            <div align=center>
                <div align=left style="width: 99%; float: left; border: 0px solid #d7d7d7; min-height: 400px; font-size:14px">
                    <form name="edit"  id="dataTable" action="/product/update" onsubmit="return editProduct();"  method="post">
                        <br>
                        Product UID:
                        <input style="width: 60px;height:25px "
                               type="text" id="id" name="id"
                                readonly="readonly"/>&emsp;
                        Model:&nbsp;<input
                            style="width: 100px; height:25px "
                            type="text" id="model" name="model"
                             placeholder="required"/>&emsp;
                        Status:&nbsp;
                        <select id="status" name="status"
                                style="height: 35px; width: 200px;">
                            <option selected="selected" value="0">Please Chose</option>
                            <option value="Active">Active</option>
                            <option value="UnActive">UnActive</option>
                            <option value="LiveDeal">LiveDeal</option>
                            <option value="Deleted">Deleted</option>
                        </select> <br>
                        Product Name: length less than 250
                        <textarea id="productName" name="productName"
                                  style="background-color: transparent; resize: none;"
                                  rows="2" cols="58"  placeholder="required"></textarea>
                        <br>
                        Brand:&nbsp;<input
                            style="width: 120px; height:25px  "
                            type="text" id="brand" name="brand"  placeholder="required"/> &emsp;
                        SKU:&nbsp;<input
                            style="width: 120px; height:25px "
                            type="text" id="sku" name="sku"/>&emsp;
                        UPC:&nbsp;<input
                            style="width: 120px; height:25px  "
                            type="text" id="upc" name="upc" />&emsp;
                        ASIN:&nbsp;<input
                            style="width: 120px; height:25px "
                            type="text" id="asin" name="asin"/><br>
                        Web Address:&nbsp;
                        <input
                                style="width: 89%; height:25px"
                                type="text" id="uri" name="uri"/>
                        <br>
                        Tickets:&nbsp;<input
                            style="width: 60px; height:25px  "
                            type="number" id="tickets" name="tickets" min="0" step="1"/> &emsp;
                        PersonalLimit:&nbsp;<input
                            style="width: 60px; height:25px  "
                            type="number" id="limitPerPerson" name="limitPerPerson" min="0" step="1"/>&emsp;
                        W(LB):&nbsp;<input
                            style="width: 60px; height:25px  "
                            type="number" id="weight" name="weight"/>&emsp;L(inch):&nbsp;<input
                            style="width: 60px; height:25px  "
                            type="number" id="length" name="length"/>&emsp;W(inch):&nbsp;<input
                            style="width: 60px; height:25px  "
                            type="number" id="width" name="width"/>&emsp;H(inch):&nbsp;<input
                            style="width: 60px; height:25px  "
                            type="number" id="height" name="height"/><br><br>

                        <div class="clear"></div>
                        <div style="width:40%;float:left;border: 1px solid #CCC;padding:5px 5px 5px 5px;">
                            下单到家里的收货价格：
                            <br>
                            <div style="float:left;">
                                价格：<br>
                                <input
                                        style="width: 80px; height:25px  "
                                        type="number" id="price" name="price"/>
                            </div>
                            <div style="float:left">
                                加价收购数量：<br>
                                <input
                                        style="width: 80px; height:25px  "
                                        type="number" id="promotQuantity" name="promotQuantity" min="0" step="1"/>
                            </div>
                            <div style="float:left">
                                加价收购价格：<br>
                                <input
                                        style="width: 80px; height:25px  "
                                        type="number" id="promotPrice" name="promotPrice"/>
                            </div>



                        </div>
                        <div style="width:40%;float:left;border: 1px solid #CCC;padding:5px 5px 5px 5px;margin-left:10px">
                            下单到仓库的收货价格：
                            <br>
                            <div style="float:left;">
                                价格：<br>
                                <input
                                        style="width: 80px; height:25px  "
                                        type="number" id="warehousePrice" name="warehousePrice"/>
                            </div>
                            <div style="float:left">
                                加价收购数量：<br>
                                <input
                                        style="width: 80px; height:25px  "
                                        type="number" id="warehousePromotQuantity" name="warehousePromotQuantity" min="0" step="1" />
                            </div>
                            <div style="float:left">
                                加价收购价格：<br>
                                <input
                                        style="width: 80px; height:25px  "
                                        type="number" id="warehousePromotePrice" name="warehousePromotePrice"/>
                            </div>
                        </div>
                        <div class="clear"></div><br>

                        Note:<br>
                        <textarea id="userNote" name="userNote"
                                  style="background-color: transparent; resize: none;"
                                  rows="2" cols="58"></textarea>
                        <br>
                        <div align=center>
                            <input type="reset" name="reset" style="display: none;" />
                            <button type="submit"  class="btn btn-default">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</BODY>
<script type="text/javascript">
    var params ;
    $(document).ready(function () {
        params = getParameters();
        //初始化页面数据
        initPage();
    });

    function initPage() {
        //后台获取数据
        var layerIndex = layer.load(1);
        $.ajax({
            type: 'GET',
            url: "/product/edit",
            data: params,
            async: true,
            success: function (res) {
                console.log(res)
                layer.close(layerIndex);
                if (res.data.state === "000000") {
                    //console.log(res.data);
                    //解析数据
                    pushData(res);
                } else {
                    //业务错误提示
                    // TODO  根据不同错误不同处理
                    swalError(res.message);
                }
            }, error: function (res) {
                layer.close(layerIndex);
                swalSysError(res);
            }
        });
    }

    function pushData(res) {
        //清空表格
        $("#dataTable tr:not(:first)").empty();
        var data = res.data;
        data = data.data;
        console.log(data);
        $("#id").val(data.id);
        $("#model").val(data.model);
        $("#asin").val(data.asin);
        $("#productName").val(data.productName);
        $("#brand").val(data.brand);
        $("#sku").val(data.sku);
        $("#upc").val(data.upc);
        $("#weight").val(data.weight);
        $("#length").val(data.length);
        $("#width").val(data.width);
        $("#height").val(data.height);
        $("#price").val(data.price);
        $("#promotPrice").val(data.promotPrice);
        $("#promotQuantity").val(data.promotQuantity);
        $("#warehousePrice").val(data.warehousePrice);
        $("#warehousePromotQuantity").val(data.warehousePromotQuantity);
        $("#warehousePromotePrice").val(data.warehousePromotePrice);
        $("#userNote").val(data.userNote);
        $("#status").val(data.status);
        $("#tickets").val(data.tickets);
        $("#limitPerPerson").val(data.limitPerPerson);
        $("#operatingStatus").val(data.operatingStatus);
        $("#operationRecord").val(data.operationRecord);
        $("#parameterString").val(data.parameterString);
        $("#uri").val(data.uri);
    }

    //避免页面上出现 null
    function emptyFormatter(data) {
        if (!data) {
            return ""
        }
        return data;
    }

    //优化页面显示
    function statusFormatter(data) {
        if (!data) {
            return '';
        }
        if (data === 'Complete')
            return '<span class="badge badge-pill badge-success">' + data + '</span>';
        else if (data === 'Deleted')
            return '<span class="badge badge-pill  badge-danger">' + data + '</span>';
        else return '<span class="badge badge-pill  badge-default">' + data + '</span>';
    }

    //优化页面显示
    function moneyFormatter(data) {
        if (!data) {
            return '';
        }
        return data + " $";
    }

    //单个产品进行修改
    function Simple_Update_Product(obj){
        window.location.href="/view/EbizProduct/toEditProductPage?productId="+obj;
    }
</script>
</HTML>